<!-- Include head file with scriptlet tag -->
<%- include('./partials/head.ejs') %>
<link rel="stylesheet" href="/css/signup.css"/>
<body>
  <div class="container">
    <% if(typeof message != "undefined" && message) { %>
      <div class="mt-3 message">
          <div class="alert alert-danger alert-dismissible" role="alert">
                 <div>	<%= message %></div>
                 <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
      </div>
  <%}%>
    <form class="form" method="post" action="signup" enctype="multipart/form-data">
      <span class="title">Sign Up</span>
      <div class="userImg">
        <input name="image" type="file" id="file" class="file" required accept="jpeg, jpg, png">
        <label for="file" class="uploadbtn" id="uploadbtn">
          <img src="/images/user.png" id="photo" class="photo"/>
        </label>
      </div>

      <div class="inputField">
        <i class="uil uil-user"></i>
        <input name="username" class="username" type="text" placeholder="Enter username" required>
      </div>

      <div class="inputField">
        <i class="bi bi-person-vcard"></i>
        <input name="name" class="name" type="text" placeholder="Enter name" required>
      </div>

      <div class="inputField">
        <i class="bi bi-shield-lock"></i>
        <input name="password" class="password" type="password" placeholder="Enter password" required>
      </div>

      <div class="inputField">
        <i class="bi bi-balloon"></i>        
        <input name="dob" class="dob" type="date" required>
      </div>

      <div class="textField">
        <i class="bi bi-person-badge"></i>      
        <textarea name="bio" class="bio" placeholder="Enter bio" required></textarea>
      </div>


      <div class="btn">
        <button type="submit" class="submitBtn">Submit</button>
      </div>

      <span class="text">Already a member?
        <a href="signin" class="text login-link">Sign In Now</a>
    </span>
    </form>
  </div>

  <script src="/javascripts/index.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

</body>

</html>