* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: none; */
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
  min-height: 100vh;
  width: 100%;
  position: relative;
  padding: 10px 0;
  margin: 0;
  background: linear-gradient(to left, #e4a8b6, #9e5365);
  max-width: 100%;
}

.container .message {
  position: absolute;
  top: 20px;
  right: 20px;
}

.container .form {
  background-color: white;
  height: fit-content;
  padding: 20px;
  border-radius: 5px;
  width: 65%;
  max-width: 400px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  row-gap: 24px;
}

.container .form .title {
  font-size: 30px;
  padding: 20px 0;
  font-weight: 600;
  text-align: center;
  color: #af3854;
}

.container .form .userImg {
 width: 100%;
 height: 200px;
 border-radius: 50%;
 justify-content: center;
 align-items: center;
 display: flex;
 align-items: center;
 position: relative;
}

.container .form .userImg .photo {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  border: 0.5px solid #af3854;
  cursor: pointer;
  object-fit: cover;
}

.container .form .userImg .file {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.container .form .inputField {
  position: relative;
  height: 50px;
  width: 100%;
}

.container .form .inputField i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #999;
  font-size: 23px;
  transition: left 0.18s ease;
  z-index: 100;
  left: 8px;
}

.container .form .inputField input {
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 0 35px;
  border: none;
  outline: none;
  font-size: 16px;
  border-bottom: 2px solid #ccc;
  border-top: 2px solid transparent;
  transition: left 0.18s ease;
}

.container .form .inputField input:is(:focus, :valid) {
  border-bottom: 2px solid #af3854;
}

.container .form .inputField input:is(:focus, :valid) ~ i {
  color: #af3854;
}

.container .form .textField {
  position: relative;
  height: 90px;
  width: 100%;
}

.container .form .textField i {
  position: absolute;
  top: 14px;
  transform: translateY(-50%);
  color: #999;
  font-size: 23px;
  transition: left 0.18s ease;
  z-index: 100;
  left: 8px;
}

.container .form .textField .bio {
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 0 35px;
  border: none;
  outline: none;
  font-size: 16px;
  border-bottom: 2px solid #ccc;
  border-top: 2px solid transparent;
  transition: left 0.18s ease;
}

.container .form .textField input:is(:focus, :valid) {
  border-bottom: 2px solid #af3854;
}

.container .form .btn {
  height: 40px;
  padding: 0;
}

.container .form .btn .submitBtn {
  height: 100%;
  width: 100%;
  padding: 0;
  border: none;
  border-radius: 5px;
  outline: none;
  font-size: 16px;
  transition: left 0.18s ease;
  background-color: #af3854;
  color: white;
}

.container .form .text {
  text-align: center;
}

.container .form .text  a {
  text-decoration: none;
  color: #af3854;
}